body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #E005E3;
    font-family: 'Varela Round', sans-serif;
}
header{
    display: inline-block;
    margin: 0;
    background: #A51EA7;
    width: 100%;
}

span{
    color: #fff;
    font-size: 22px;
}

#first{
    display: inline-block;
    margin: 10px;
    padding: 0 7px;
    color: #fff;
    background: #EA96EB;
    border-radius: 7px;
}

#first h3{
    display: inline-block;
    margin: 10px 7px;
}

#space{
    display: inline-block;
    border-radius: 7px;
    background: #EA96EB;
    padding: 7px 7px 7px 150px;
    position: relative;
    top: 2px;
}

#center{
    display: inline-block;
    color:#EA96EB;
    position: relative;
    left: 400px;
}

#center span{
    color: #EA96EB;
}

#center h2{
    display: inline-block;
    font-family: 'Lobster', cursive;
}

#icons{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;;
}


header figure img{
    display: inline-block;
    width: 30px;
    border-radius: 15px;
}